Screen {
    layout: grid;
    grid-size: 2 4;
    grid-columns: 1fr 36;
    grid-rows: 2 11 6fr 5;
}

#tabs {
    column-span: 2;
}

#tag_selection {
    row-span: 2;
}

Terminal {
    row-span: 2;
    padding: 1;
}

TestControls {
    /* align: right middle; */
    layout: grid;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;

    align: center middle;
    border: hkey rgb(0, 0, 0);
}

PortSelection {
    width: 100%;
    height: 100%;
    border: hkey rgb(0, 0, 0);
}

PortSelector {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 9 1fr;
}

.port_selector_label {
    width: 100%;
    height: 100%;
    content-align: left middle;
    text-align: left;
}

.port_selector_select {
    width: 100%;
    height: 100%;
}